.btn {
    padding: 10px;
    background: var(--green);
    border-radius: 3px;
    box-shadow: 0px 8px 20px -15px rgb(0, 0, 0);
    width: fit-content;
    color: var(--white);
    transition: .5s;
}

.btn:hover {
    transform: translateY(-5px);
    background: var(--sec-green);
}